[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nzpullover"]
	path = nzpullover
	url = https://github.com/nacnudus/nzpullover
[submodule "tidyxl"]
	path = tidyxl
	url = https://github.com/nacnudus/tidyxl
[submodule "unpivotr"]
	path = unpivotr
	url = https://github.com/nacnudus/unpivotr
